</br></br>

<h3>Edit ingredient</h3>

<div class= 'form-group form'>
  <%= form_with(model: @ingredient, local: true) do |f| %>

    <%= f.label :product %>
    <%= f.select(:product_id, Product.all.sort_by{|e| e.name}.collect {|p| [ p.name, p.id ] }) %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 1 %>

    <%= f.label :unit %>
    <%= f.select :unit, Ingredient.units.map { |key, value| [key.humanize, key] } %>

    <%= f.label :expiration %>
    <%= f.date_field :exp_date %>

    </br></br></br>

    <%= link_to "Return", ingredient_path(@ingredient), class:'btn btn-outline-secondary' %>
    <%= f.submit "Save", class:'btn btn-primary'%>

  <% end %>
</div>