</br></br>

</br></br>

<h3>Add new ingredient</h3>

<div class= 'form-group form form'>
<%= form_with(model: @ingredient, local: true) do |f| %>

  <%= f.text_field :product_id %>
  <%= f.text_field :quantity %>
  <%= f.text_field :unit %>
  <%= f.date_field :exp_date %>

  <%= f.submit "Save", class:'btn btn-primary'%><%= link_to "Return", ingredients_path, class:'btn btn-outline-danger' %>

<% end %>

</div>
</br>