<h1>Ingredient details</h1>



<b>Ingredient id:</b>     <%= @ingredient.id %>             </br>
<b>Product_id:   </b>     <%= @ingredient.product_id %>     </br>
<b>Product_name: </b>     <%= @ingredient.product.name %>   </br>
<b>Exp_Date:     </b>     <%= @ingredient.exp_date %>       </br>
<b>Quantity:     </b>     <%= @ingredient.quantity %>       </br>
<b>Unit:         </b>     <%= @ingredient.unit %>           </br>

<i><b>Last updated: </b> <%= @ingredient.updated_at %></i>


<div>
  <%= link_to "Return", ingredients_path, class:'btn btn-outline-secondary' %>

  <%= link_to "Edit", edit_ingredient_path(@ingredient), class:'btn btn-warning' %>
  <%= link_to "Delete", ingredient_path(@ingredient), method: :delete, data: { confirm: 'Are you sure?'}, class:'btn btn-danger' %>

</div>