<h1>Ingredient details</h1>


<h3><%= @ingredient.name %></h3>

<i>Last updated: <%= @ingredient.updated_at %></i>

<div>
  <%= link_to "Return", ingredients_path %>

  <%= link_to "Edit", edit_ingredient_path(@ingredient) %>
  <%= link_to "Delete", ingredient_path(@ingredient), method: :delete, data: { confirm: 'Are you sure?'} %>

</div>